apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    version: 1
    editable: true
    jsonData:
      maxLines: 5000
      derivedFields:
        # Auto-link trace_id in log lines to a Tempo/Jaeger trace URL
        # Uncomment and adjust if you add Tempo to the stack
        # - name: TraceID
        #   matcherRegex: '"trace_id":"([a-f0-9]+)"'
        #   url: http://tempo:3200/trace/$${__value.raw}
        #   datasourceUid: tempo
